<div class='container'>
  <br><br>
  <% row_count = 1 %>

  <div class='row'>
    <div class='col-sm mb-2'>
      <div class="card" style="width: 18rem; height: 100%; text-align: center;">
        <div class="card-header" style="height: 100%; padding-top: 15%">
          <h5 class="card-title"><a href="<%= new_course_path %>"><i class="fa fa-plus-circle"></i></a></h5>
        </div>
      </div>
    </div>
    <% @courses.includes(:user).each do |course| %>
      <div class='col-sm mb-2'>
        <div class="card" style="width: 18rem; text-align: center;">
          <div class="card-header">
            <h5 class="card-title"><%= link_to course.name, course_path(course.id) %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= course.code %></h6>
            <h6 class="card-subtitle mb-2 text-muted"><%= course.user.name %></h6>
            <h6 class="card-subtitle mb-2 text-muted"><%= "#{course.start_time.strftime("%I:%M%p")}" %></h6>
            <h6 class="card-subtitle mb-2 text-muted"><%= "#{course.end_time.strftime("%I:%M%p")}" %></h6>
            <h6 class="card-subtitle mb-2 text-muted"><%= course.credit_hours %></h6>
          </div>
        </div>
      </div>
      <% row_count += 1 %>
    <% end %>
    <% while row_count % 3 != 0 %>
      <div class='col-sm mb-2'></div>
      <% row_count += 1 %>
    <% end %>
  </div>


</div>
