<%= form_with bloom_taxonomy_verb  do |f| %>

  <div class="field form-group">
    <%= f.label :bloom_taxonomy_level_id %><br />
    <%= f.select :bloom_taxonomy_level_id, (@bloom_taxonomy_levels || []).map { |objective| [ objective.level, objective.id] }, {}, { class: ' form-control' } %>
  </div>

  <%= f.hidden_field :course_id, value: @course_id, name: "course_id" %>

  <div class="actions">
    <%= f.submit "Next", class: 'btn btn-primary mb-2' %>
  </div>
<% end %>